{% load user_filters %}

<div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
        <form method="post" action="{% url 'table:add_comment' selected_calendar %}">

                {% csrf_token %}
                <div class="form-group mb-2">
                    {{ form.author|addclass:"form-control" }}
                    {{ form.text|addclass:"form-control" }}
                </div>

            <button type="submit" class="btn btn-primary">Отправить</button>

        </form>
    </div>
</div>

{% for comment in page_obj %}
<div class="media mb-4">
    <div class="media-body">
        <h5 class="mt-0"> {{ comment.created }} </h5>
        <h4 class="mt-0">
            {{ comment.author }}
        </h4>

            {{ comment.text|linebreaks }}

    </div>
</div>
<hr>
{% endfor %}

{% include 'includes/paginator.html' %}
