{% load static %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
        <a class="navbar-brand" href="{% url 'table:index' %}">
            <img src="{% static 'img/logo_fsb2.png' %}" width="40" height="75" class="d-inline-block align-top" alt="">
            <span style="font-style: italic; color: red; font-size: 40px; blockquote;">Р</span>асписание дежурств
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">

            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'table:analytics' %}">Аналитика дежурств</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'table:create_table' %}">Создание расписания</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'users:logout' %}">Выйти</a>
            </li>
            <li class="nav-item">
                <h5> Пользователь: {{ user.username }} </h5>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'users:login' %}">Вход для администратора дежурств</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
